<form [formGroup]="cadastroFormulario" (ngSubmit)="onSubmit()" class="formulario-usuario">
  <!-- Nome de Usuário -->
  <mat-form-field appearance="fill">
    <mat-label>Nome de Usuário</mat-label>
    <input matInput formControlName="username" required>
    @if (cadastroFormulario.get('username')?.errors) {
      <mat-error>
        @if (cadastroFormulario.get('username')?.hasError('required')) {
          O nome de usuário é obrigatório.
        } @else if (cadastroFormulario.get('username')?.hasError('maxlength')) {
          O nome de usuário deve ter no máximo 150 caracteres.
        } @else if (cadastroFormulario.get('username')?.hasError('pattern')) {
          O nome de usuário só pode conter letras, números e /./+/-/_.
        }
      </mat-error>
    }
  </mat-form-field>

  <!-- Senha -->
  <mat-form-field appearance="fill">
    <mat-label>Senha</mat-label>
    <input matInput formControlName="password" type="password" required>
    @if (cadastroFormulario.get('password')?.errors) {
      <mat-error>
        @if (cadastroFormulario.get('password')?.hasError('required')) {
          A senha é obrigatória.
        } @else if (cadastroFormulario.get('password')?.hasError('minlength')) {
          A senha deve ter pelo menos 1 caractere.
        } @else if (cadastroFormulario.get('password')?.hasError('maxlength')) {
          A senha deve ter no máximo 128 caracteres.
        }
      </mat-error>
    }
  </mat-form-field>

  <!-- Primeiro Nome -->
  <mat-form-field appearance="fill">
    <mat-label>Primeiro Nome</mat-label>
    <input matInput formControlName="firstName">
    @if (cadastroFormulario.get('firstName')?.hasError('maxlength')) {
      <mat-error>O primeiro nome deve ter no máximo 150 caracteres.</mat-error>
    }
  </mat-form-field>

  <!-- Sobrenome -->
  <mat-form-field appearance="fill">
    <mat-label>Sobrenome</mat-label>
    <input matInput formControlName="lastName">
    @if (cadastroFormulario.get('lastName')?.hasError('maxlength')) {
      <mat-error>O sobrenome deve ter no máximo 150 caracteres.</mat-error>
    }
  </mat-form-field>

  <!-- E-mail -->
  <mat-form-field appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email" type="email">
    @if (cadastroFormulario.get('email')?.errors) {
      <mat-error>
        @if (cadastroFormulario.get('email')?.hasError('email')) {
          Por favor, insira um endereço de e-mail válido.
        } @else if (cadastroFormulario.get('email')?.hasError('maxlength')) {
          O e-mail deve ter no máximo 254 caracteres.
        }
      </mat-error>
    }
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="cadastroFormulario.invalid">Enviar</button>
</form>
