<form [formGroup]="formulario" class="form-container">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nome</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Descrição</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Horas Planejadas</mat-label>
    <input matInput type="number" formControlName="planned_hours">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option value="1">A fazer</mat-option>
      <mat-option value="2">Em andamento</mat-option>
      <mat-option value="3">Concluído</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Proprietário (ID)</mat-label>
    <input matInput type="number" formControlName="owner">
  </mat-form-field>

  <div class="button-group">
    <button mat-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" type="button" (click)="salvar()">Salvar</button>
  </div>
</form>
